#canvas_wrap{
       position: absolute;
    width:200px;
    height:150px;
    border:1px solid #000;
    z-index:7;
    
}
.start {
    text-align: center;
    border: 2px;
    height: 10px;
    width: 80px;
    padding: 10px;
    padding-bottom: 20px;
    color: rgba(0,0,0,0);
    /*background-image: image()*/
    
        }