#canvas_wrap{
       position: absolute;
    top: center;
    left: center;
    width:1000px;
    height:650px;
    background-size: 100%;
    border:1px solid #000;
    background-image: url("images/HomescreenTIMS.png");
    background-repeat: no-repeat;
    
    z-index:7;
   
    
}
.start {
    position : absolute;
    top: 47.7777%;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 10px;
    padding-bottom: 20px;
    color: rgba(0,0,0,0);
    background-image: url("images/ShieldTIMS.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;       
    
        }

.start:hover{
    
    color: darkred;
    
}
body{
    background-color: gray;
}
h1{
 color: crimson;
    text-align: center;
    text-emphasis-style: 
}
