#canvas_wrap{
       position: absolute;
    left: 18.75%;
    top: center;
    width:1000px;
    height:750px;
    background-size: 100%;
    border:1px solid #000;
    background-image: url("images/HomescreenTIMS.png");
    background-repeat: no-repeat;
    
    z-index:7;
   
}

.start {
    cursor: pointer;
    position : absolute;
    left: 43.75%;
    top: 38.88%;
    text-align: center;
    font-size: 80px;
    vertical-align: middle;
    padding: 20px;
    height: 200px;
    width: 200px;
    padding: 10px;
    padding-bottom: 20px;
    color: rgba(0,0,0,0);
    background-image: url("images/ShieldTIMS.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;       
    
        }

.start:hover{
    
    color: darkred;
    
}
body{
    background-color: gray;
}

@keyframes fade{
    0% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity:0;}
    61%{visibility: hidden;
    cursor-visbility: visible;}
    80% {top:200px;}
    100% {opacity: 0;}
    
}
@keyframes move{
    0%{color: crimson;}
    60% {color: crimson;}
    61% {position: relative;}
    80% {top: 200px;}
}
@keyframes dots{
    0% {opacity: 0;}
    55% {opacity: 0;}
    65% {opacity:1;}
    100% {opacity: 1;}
}
@keyframes moveDots{
    
}

h1{
    
 color: crimson; 
    display: inline;
    }

period {
    opacity: 0;
   
}

.dotT{
    animation: dots 12s ease infinite alternate;
     position: fixed;
    top: 0px;
}

.dotI{
    animation: dots 12s ease infinite alternate;
     position: fixed;
    top: 0px;
}

.dotM{
    animation: dots 12s ease infinite alternate;
     position: fixed;
    top: 0px;
}

.dotS{
     position: fixed;
    top: 0px;
    left: 960px;
    animation: dots 12s ease infinite alternate;
    
    
    
}

@keyframes moveLetters{
    0%
    50%
    60%
    100%
}
.tee{
    width: 22px;
    top: 10px;
    
    display: inline;
    
    padding-left: 25%;
}

.echnologically{
    width: 195px;
    left: 23px;
    top: 10px;
    
    animation: fade 12s ease infinite alternate;
}


.Me{
    width: 15px;
    
    display: inline;
}

.mproved{
    width: 125px;
    animation: move 12s ease infinite alternate;
    animation: fade 12s ease infinite alternate;
    
}

.mechanized{
    width: 136px;
    animation: move 12s ease infinite alternate;
    animation: fade 12s ease infinite alternate;
}

@keyframes moveEm{}
.em{
    width: 30px;
    
}

.es{
    width: 18px;
    animation: moveLetters 12s ease infinite alternate;
    
}

.amurai{
    width:105px;
    animation: move 12s ease infinite alternate;
    animation: fade 12s ease infinite alternate;
    
}

